.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/data/model.bin
/data/word_embeddings.rds
posts/Hate Speech Prediction/data/model.bin
posts/Hate Speech Prediction/data/word_embeddings.rds
posts/Hate Speech Prediction without Targets/data/model.bin
posts/Hate Speech Prediction without Targets/data/word_embeddings.rds